OLLAMA_API_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2:1b


# Database Configuration (Production)
DB_URL=jdbc:postgresql://localhost:5433/chatbot
DB_USERNAME=chatbot_user
DB_PASSWORD=chatbot_password

# ===========================================
# Java Configuration
# ===========================================
JAVA_HOME=C:\Program Files\Eclipse Adoptium\jdk-17.0.17.10-hotspot
SPRING_PROFILES_ACTIVE=dev
